*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    /* background-color: red; */
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #131921;
    color:#fff;
     padding:10px
}
.logo{
    font-size:22px;
    font-weight:bold;
    display: flex;
    align-items: center;
}
.logo img{
    height:40px;
}
.search-bar{
    flex:1;
    display: flex;
    max-width:600px;
    margin:0 15px;
}
.search-bar input{
    width:100%;
    padding:10px;
    border:none;
    font-size:16px;
}
.search-bar button{
    background-color: #febd69;
    border:none;
    padding:10px 15px;
    cursor: pointer;
}
.navlink{
    display: flex;
    align-items: center;
    gap:20px;
}
.navlink div{
    text-align: center;
    font-size:14px;
}
.cart{
    font-size: 18px;
    display:flex;
    align-items: center;
}
.cart i{
    font-size: 24px;
    margin-right: 5px;
}
.hamburger{
    display:none;
    font-size:24px;
    cursor:pionter;
}
/* Responsive */

@media (max-width: 768px){
    .search-bar{
        max-width:400px;
    }
    .navlink{
        display:none;
        flex-direction: column;
        background-color: #232f3e;
        position:absolute;
        top:60px;
        right:0;
        width:50%;
        padding:10px;
    }
    .navlink.show{
        display: flex;
    }
    .hamburger{
        display: block;
    }
}
/* ----------------------------------main-section-------------------- */
body{
    background-color:rgb(196, 180, 180);
    
}
section{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-gap:30px;
    justify-content: space-evenly;
    padding:10px;
    /* margin-top:-200px; */
    padding: 10px 20px;
    background-color: #e7f7f9;
   
}
.cards{
    height:440px;
    box-shadow:2px 2px 2px gray;
    background-color: white;
    padding: 5px;
   
    
  
    
}
.row-2 , .row-3 {
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-gap:5px;
    /* padding:10px 10px; */
}
.row-2 img{
    width:100%;
    height: 100px;
    cursor: pointer;
}

.row-3 img{
    width:100%;
    height: 100px;
    /* margin-top:1px; */
    cursor: pointer;
    
}
.row-1{
    font-family: Arial;
    font-weight:bold;
    font-size:19px;
    margin-bottom: 8px;
    margin-top: 18px;
}
.section-2{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-gap:30px;
    padding:10px;
    margin-top:10px;
    padding: 5px 20px;
}
.cards p{
    font-size:12px;
}
.row-4 span{
    color:rgb(62, 121, 189);
    cursor: pointer;
    
    font-size:14px;  
}
.row-4{
    margin-top:5px;
}


/* For tablets (up to 992px) */
@media (max-width: 992px) {
    section, .section-2 {
      grid-template-columns: 2fr 2fr;
      padding: 10px 30px;
      margin-top: 0;
    }
  
    .cards {
      height: auto;
    }
  }
  
  /* For mobile devices (up to 600px) */
  @media(max-width:600px)
  {
    section, .section-2{
        grid-template-columns: 1fr;
        padding:10px 15px;
        margin-top:0;
    }
    .cards{
        height: auto;
    }
    .row-1{
        font-size:25px;
    }
    .row-2 img, .row-3 img {
        height: 120px;
      }
  }
  
